<!DOCTYPE html>
<html>
<head>
    <title>ViewBag.appTitle</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="page-content w-100 center">
        <h1 class="header ">Weather</h1>
            @RenderBody()
    </div>
</body>

</html>