@model ICityWeather


<div class="box w-100 @Model.TemperatureColor">
    <div class="column center w-100" >
        <h2>@Model.CityName</h2>
        <h4>@Model.CurrentDateTime</h4>
        @if (ViewBag.IsDetails!=true)
        {
           <div class="center w-100"><a class="center w-100" href="/details/@Model.CityUniqueCode">Details</a></div>
        }
    </div>
    <div class="column border-top text-center">
        <h1> @Model.Temperature<sup class="text-silver">&deg;F</sup></h1>
    </div>
</div> 
